<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hello Quark</title>
    <script type="module" src="./src/index.tsx"></script>
    <style>
      body {
        margin: 0;
        display: grid;
        justify-content: center;
      }
      p {
        text-align: center;
      }
      a {
        color: #55bffe;
      }
    </style>
  </head>
  <body>
    <my-component text="Born for cross-framework!"></my-component>
    <p>Edit <code>src/index.tsx</code> and save to test HMR</p>
  </body>
</html>
